.footer-container {
  background-color: #ff6600;
  color: white;
}
.our-address {
  font-family: Poppins;
}
.footer-followus-text {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Poppins;
}
@media (max-width: 576px) {
  .footer-logo {
    width: 100%;
  }
  .footer-container {
    width: 100%;
  }
}
